<h1>Turbo form examples</h1>

<ol>
  <li><%= link_to "Replace the form with something else (no navigation)", new_replace_form_path %>
  <li><%= link_to "Redirect to a page on the same host", new_internal_redirect_path %>
  <li><%= link_to "Redirect to a differnt host", new_external_redirect_path %>
</ol>
